$base_dark = #333;
$base_color = #fff;
body,html
    line-height: 1
    font-family: 'PingFang SC','STHeitiSC-Light','Helvetica-Light',arial,sans-serif,'Droid Sans Fallback'
    user-select: none
    -webkit-tap-highlight-color: transparent
    background: $base_dark
    color: $base_color
    font-size: 14px